@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300 !important;
}

.text-main    { 
  color: #ff4500; 
}

.text-support { 
  color: #008080; 
}

.text-dark    { 
  color: #111; 
}

.text-light   { 
  color: #fffdfa; 
}

.text-grey1   { 
  color: #333; 
}

.text-grey2   { 
  color: #999; 
}

.text-grey3   { 
  color: #ccc; 
}

.text-grey4   { 
  color: #eee; 
}

.bg-main    { 
  background-color: #ff4500; 
}

.bg-support { 
  background-color: #008080; 
}

.bg-dark    { 
  background-color: #111; 
}

.bg-light   { 
  background-color: #fffdfa; 
}

.bg-grey1   { 
  background-color: #333; 
}

.bg-grey2   { 
  background-color: #999; 
}

.bg-grey3   { 
  background-color: #ccc; 
}

.bg-grey4   { 
  background-color: #eee; 
}
