@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300 !important;
}

:root {
  --main: #ff4500;
  --support: #008080;
  --light: #111;
  --dark: #fffdfa;
  --grey-1: #333;
  --grey-2: #999;
  --grey-3: #ccc;
  --grey-4: #eee;
}

body {
  background-color: var(--light);
  color: var(--grey-1);
}

.text-main    { 
  color: var(--main); 
}

.text-support { 
  color: var(--support); 
}

.text-dark    { 
  color: var(--dark); 
}

.text-light   { 
  color: var(--light); 
}

.text-grey-1   { 
  color: var(--grey-1); 
}

.text-grey-2   { 
  color: var(--grey-2); 
}

.text-grey-3   { 
  color: var(--grey-3); 
}

.text-grey-4   { 
  color: var(--grey-4); 
}

.bg-main    { 
  background-color: var(--main); 
}

.bg-support { 
  background-color: var(--support); 
}

.bg-dark    { 
  background-color: var(--dark); 
}

.bg-light   { 
  background-color: var(--light); 
}

.bg-grey-1   { 
  background-color: var(--grey-1); 
}

.bg-grey-2   { 
  background-color: var(--grey-2); 
}

.bg-grey-3   { 
  background-color: var(--grey-3); 
}

.bg-grey-4   { 
  background-color: var(--grey-4); 
}

button {
  font-weight: 500 !important;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out !important;
}

input {
  outline: none;
}

button:hover {
  opacity: 0.85;
}

.app-container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--grey-4); 
}

.header {
  flex: 2;
}

.tv-show-detail {
  flex: 4;
}

.recommended-tv-shows {
  flex: 2;

}